<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bnrc.busapp"
    android:versionCode="1"
    android:versionName="0.2" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21"
        tools:ignore="UsesMinSdkAttributes" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- zj的权限 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 多盟广告必须申明的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 以下为可选的权限 -->
    <!-- 使用GPS获取用户精确定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 使用WIFI获取用户精确定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <meta-data
        android:name="com.amap.panorama.api.key"
        android:value="b0cc95d95b40365f1d24792b8119d94f" />

    <application
        android:name="com.bnrc.util.LocationUtil"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/myTheme" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5565792b67e58ecae80017d3" >
        </meta-data>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="kGckXZVbKhiozzm7Dx8RPa60" />

        <activity
            android:name="cn.domob.android.ads.DomobActivity"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.RootView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.NewRootView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.StationInformationView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.SearchSomethingView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.splashScreen"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bnrc.busapp.SearchStationView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.MyAlertStationView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.UserSettingView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.MyFavoriteStationView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.MyFavoriteBuslineView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.SearchBuslineView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.BuslineListView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.BuslineMapView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.SettingView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.StationARView"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.NearbyStationListView"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.bnrc.activity.AboutActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.bnrc.busapp.StationRoutView"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.bnrc.ui.MainActivityOfXiecheng"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.bnrc.ui.rjz.MainActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.bnrc.ui.BuscircleActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.bnrc.ui.NearActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.bnrc.ui.ConcernActivity"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.bnrc.util.collectwifi.MyDialogSelectBuslineActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/dialog" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <service
            android:name="com.bnrc.util.LocationDetectService"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <service
            android:name="com.bnrc.busapp.PollingService"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <service android:name="com.bnrc.util.collectwifi.ScanService" >
            <intent-filter android:priority="1000" >
                <action android:name="com.bnrc.busapp.scanservice" />
            </intent-filter>
        </service>
    </application>

</manifest>